Repository BenWibking/quokka, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BenWibking, @markkrumholz, @psharda, @chongchonghe

merge in ThermalCooling test from branch chong/microphysics
  src/problems/CMakeLists.txt
  src/problems/RadThermalCooling/CMakeLists.txt
  src/problems/RadThermalCooling/test_rad_thermal_cooling.cpp
  src/problems/RadThermalCooling/test_rad_thermal_cooling.hpp
  src/problems/auxiliary_files/rad_thermal_cooling.csv
  tests/RadThermalCooling.in
Owners: @BenWibking, @markkrumholz

merge in microphysics framework
  src/CMakeLists.txt
  src/problems/RadThermalCooling/test_rad_thermal_cooling.cpp
  src/radiation/radiation_system.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

reduce nx in shock tests
  tests/radshock.in
  tests/radshock_dimensionless.in
Owners: @BenWibking, @markkrumholz

define cgs and k_B: passing shuosher and shock_cgs tests
  src/hydro/EOS.hpp
  src/physics_info.hpp
  src/problems/HydroShuOsher/test_hydro_shuosher.cpp
  src/problems/RadhydroShockCGS/test_radhydro_shock_cgs.cpp
Owners: @BenWibking, @markkrumholz

cgs and k_B: shock test
  src/hydro/EOS.hpp
  src/physics_info.hpp
  src/problems/RadhydroShock/test_radhydro_shock.cpp
Owners: @BenWibking, @markkrumholz

finish CGS and CONSTANTS definition, passing shock and shockcgs
  src/problems/RadhydroShock/test_radhydro_shock.cpp
  src/problems/RadhydroShockCGS/test_radhydro_shock_cgs.cpp
  src/radiation/radiation_system.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

add G into CGS and CONSTANTS; passing star_cluster test
  src/problems/StarCluster/star_cluster.cpp
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

compute constants from unit_length ... when using UnitSystem::CUSTUM
  src/hydro/EOS.hpp
  src/problems/RadhydroShock/test_radhydro_shock.cpp
  src/radiation/radiation_system.hpp
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

fix: use C::Gconst
  src/hydro/EOS.hpp
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

mod shock_cgs and line_cooling problems to test units conversion
  src/hydro/EOS.hpp
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
  src/problems/RadhydroShockCGS/test_radhydro_shock_cgs.cpp
  src/radiation/radiation_system.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

add unit_length to Physics_Traits
  src/physics_info.hpp
Owners: @BenWibking, @markkrumholz

finishing initializeSimulationMetadata and writing units to metadata
  src/physics_info.hpp
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
  src/problems/RadTube/test_radiation_tube.cpp
  src/radiation/radiation_system.hpp
  src/simulation.hpp
  tests/RadLineCooling.in
  tests/RadTube.in
Owners: @BenWibking, @markkrumholz, @chongchonghe

write both unit_xxx and constants into metadata for all unit systems
  src/QuokkaSimulation.hpp
  src/simulation.hpp
  tests/radshock_dimensionless.in
Owners: @BenWibking, @markkrumholz

update in files
  tests/RadLineCooling.in
  tests/RadTube.in
  tests/radshock.in
  tests/radshock_dimensionless.in
Owners: @BenWibking, @markkrumholz

add comments
  src/physics_info.hpp
Owners: @BenWibking, @markkrumholz

set unit_xxx to NAN when units_system == CONSTANTS
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

set unit_mass to NAN if CONSTNATS
  src/QuokkaSimulation.hpp
Owners: @BenWibking, @markkrumholz

move c_light and c_hat to PhysicsTraits
  src/QuokkaSimulation.hpp
  src/physics_info.hpp
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
  src/problems/RadTube/test_radiation_tube.cpp
  src/problems/RadhydroShock/test_radhydro_shock.cpp
  src/problems/RadhydroShockCGS/test_radhydro_shock_cgs.cpp
  src/radiation/radiation_system.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

change c_hat to c_hat_over_c
  src/QuokkaSimulation.hpp
  src/physics_info.hpp
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
  src/problems/RadTube/test_radiation_tube.cpp
  src/problems/RadhydroShock/test_radhydro_shock.cpp
  src/problems/RadhydroShockCGS/test_radhydro_shock_cgs.cpp
  src/radiation/radiation_system.hpp
Owners: @BenWibking, @markkrumholz, @chongchonghe

cleanup
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
Owners: @BenWibking, @markkrumholz

remove print messages in MarshakAsymptotic
  src/problems/RadMarshakAsymptotic/test_radiation_marshak_asymptotic.cpp
Owners: @BenWibking, @markkrumholz

minor fixes
  src/hydro/EOS.hpp
  src/hydro/NSCBC_inflow.hpp
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

remove some static_assert
  src/hydro/EOS.hpp
  src/radiation/radiation_system.hpp
  src/simulation.hpp
Owners: @BenWibking, @chongchonghe, @markkrumholz

fix advection2d
  src/problems/Advection2D/test_advection2d.cpp
Owners: @BenWibking, @markkrumholz

fix boltzmann_constant errors
  src/problems/NSCBC/vortex.cpp
  src/problems/RadShadow/test_radiation_shadow.cpp
Owners: @BenWibking, @markkrumholz

fix chat error
  src/problems/RadMarshakDust/test_radiation_marshak_dust.cpp
  src/problems/RadStreamingY/test_radiation_streaming_y.cpp
Owners: @BenWibking, @markkrumholz

fix bugs
  src/problems/Advection2D/test_advection2d.cpp
  src/problems/PopIII/popiii.cpp
Owners: @BenWibking, @markkrumholz

first commit
  .github/workflows/cmake-macos.yml
  .github/workflows/cmake.yml
  .github/workflows/intel.yml
Owners: @BenWibking, @markkrumholz

Fix the problem of declaring NeighborSinkParticleContainer with a variable number of overlapping zones for nearby grids.
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

Fix the problem of declaring NeighborSinkParticleContainer on variable overlapping zones of nearby grids.
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

change macOS test from j2 to j3
  .github/workflows/cmake-macos.yml
Owners: @BenWibking, @markkrumholz

add static_assert unit_system == CGS in RandomBlast test
  src/problems/RandomBlast/blast.cpp
Owners: @BenWibking, @markkrumholz

fix bug
  tests/RadStreamingY.in
Owners: @BenWibking, @markkrumholz

set G = 1 in SphericalCollapse
  src/problems/SphericalCollapse/spherical_collapse.cpp
  tests/SphericalCollapse.in
Owners: @BenWibking, @markkrumholz

fix minor bug
  src/problems/SphericalCollapse/spherical_collapse.cpp
Owners: @BenWibking, @markkrumholz

pltfile from line_cooling
  src/problems/RadLineCooling/test_rad_line_cooling.cpp
  tests/RadLineCooling.in
Owners: @BenWibking, @markkrumholz

write 2D plotfiles for projections
  src/CMakeLists.txt
  src/QuokkaSimulation.hpp
  src/io/projection.cpp
  src/io/projection.hpp
  src/problems/ShockCloud/cloud.cpp
  src/simulation.hpp
Owners: @BenWibking, @markkrumholz

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Email addresses or GitHub usernames can be used

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these global owners will be requested for
# review when someone opens a pull request.
*       @BenWibking @markkrumholz

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies any files listed below, only the user listed below
# and not the global owner(s) will be requested for a review.

# math/IO/utility functions
src/math/ @BenWibking
src/io/ @BenWibking
src/util/ @BenWibking

# hydro
src/hydro/ @BenWibking

# optically-thin radiative cooling
src/cooling/ @BenWibking

# particles -- CICParticles only
src/particles/CICParticles.hpp @BenWibking

# chemistry
src/chemistry/ @psharda

# radiation
src/radiation/ @chongchonghe
